<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Inventory Koperasi</title>
    <!-- Bootstrap core CSS -->
   <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <!-- Custom styles for this template -->
     <link th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen"/>
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>

              </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/home">Home</a></li>
                  <li><a href="/transaction">Transaction</a></li>
                  <li><a href="/report">Report</a></li>
                  <li class="active"><a href="/inventory">Inventory</a></li>
                  <li><a href="/cashier">Cashier</a></li>
                  <li><a href="/manager">Manager</a> </li>

              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <li><a th:href="@{/logout}">Logout</a></li>

              </ul>

          </div><!--/.nav-collapse -->

      </div>
  </nav>
    <div class="container">
   
    <h1>Data Inventory</h1>
        <div>
            <a class="btn btn-success" href="/inventory/create">Add New</a>
        </div>
        <br>
    <!-- Logika nya, jika ada data pada tabel maka akan ditampilkan-->
    <div th:if="${not #lists.isEmpty(inventory)}" > 
     
     <table class="table table-striped">
    	<tr>
    		<th>Name</th>
    		<th>Stock</th>
			<th>Price</th>
			<th></th>
  
    	</tr>
    	
    	<!-- Banyak data nya array, maka menggunakan for each dari thymeleaf -->
    	
    	<tr th:each="inventorys : ${inventory}">
    		<td th:text="${inventorys.name}"></td>
    		<td th:text="${inventorys.stock}"></td>
    		<td th:text="${inventorys.price}"></td>
    		<td>
    		<a th:href="${'/inventory/edit/' +inventorys.id}">
    		<span class="glyphicon glyphicon-edit"></span></a>

                <a th:href="${'/inventory/delete/' +inventorys.getId()}" onclick="return confirm('Are you sure you want to delete this item ?');">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
    		
    		</td>
    		</tr>
    		
    </table> 

    </div>

    </div><!-- /.container -->
   
    <!-- Bootstrap core JavaScript
    ================================================== -->

	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	
  </body>
</html>
