<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:include="fragment/header :: header">
	<title>Home</title></head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top"  th:include="fragment/navigation :: navigation"></nav>
<div class="site-index">
	<div class="container-fluid" >
		<br>
		<h1 style="font-family: 'Century Gothic', serif" align="center">Welcome to SIKJB!</h1>
		<p style="font-family: 'Century Gothic', serif" class="lead" align="center">Sistem Informasi Koperasi Jual Beli.</p>
		<br>
		<br>
	<div class="body-content" style="text-align: center">
		<div class="row">
			<div class="well col-md-4" sec:authorize="hasRole('ROLE_CASHIER')">
				<h1><span><i class="glyphicon glyphicon-book"></i></span></h1>
				<h2 style="font-family: 'Century Gothic', serif" class="lead">New Transaction</h2>
				<p>Save and Note every Transaction ok!.</p>
				<br>
				<p style="font-family: 'Century Gothic', serif" class="lead"><a class="btn btn-success" href="/transaction/create">Save</a></p>
			</div>
			<div class="well col-md-4">
				<h1><span><i class="glyphicon glyphicon-file"></i></span></h1>
				<h2 style="font-family: 'Century Gothic', serif" class="lead">Make a Report</h2>
				<p>Don't forget to make a Report every month!.</p>
				<br>
				<p style="font-family: 'Century Gothic', serif" class="lead"><a class="btn btn-success" href="/home">Create One</a></p>
			</div>
			<div class="well col-md-4" sec:authorize="hasRole('ROLE_CASHIER') || hasRole('ROLE_MANAGER')">
				<h1><span><i class="glyphicon glyphicon-folder-open"></i></span></h1>
				<h2 style="font-family: 'Century Gothic', serif" class="lead">List of Report</h2>
				<p>Every Report that already made is here</p>
				<br>
				<p style="font-family: 'Century Gothic', serif" class="lead"><a class="btn btn-success" href="/report">Check</a></p>
			</div>
		</div>
	</div>
		<br>
		<br>
	<div class="body-content" style="text-align: center">
		<div class="row">
			<div class="well col-md-4" sec:authorize="hasRole('ROLE_MANAGER')">
				<h1><span><i class="glyphicon glyphicon-user"></i></span></h1>
				<h2 style="font-family: 'Century Gothic', serif" class="lead">Cashier</h2>
				<p>Do The CRUD to the Cashier here!.</p>
				<br>
				<p style="font-family: 'Century Gothic', serif" class="lead"><a class="btn btn-success" href="/cashier">CRUD</a></p>
			</div>
			<div class="well col-md-4" sec:authorize="hasRole('ROLE_CASHIER')">
				<h1><span><i class="glyphicon glyphicon-oil"></i></span></h1>
				<h2 style="font-family: 'Century Gothic', serif" class="lead">Inventory</h2>
				<p>Do The CRUD to the Inventory Here!.</p>
				<br>
				<p style="font-family: 'Century Gothic', serif" class="lead"><a class="btn btn-success" href="/inventory">CRUD</a></p>
			</div>
			<div class="well col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
				<h1><span><i class="glyphicon glyphicon-briefcase"></i></span></h1>
				<h2 style="font-family: 'Century Gothic', serif" class="lead">Manager</h2>
				<p>Do The CRUD to the Manager here!.</p>
				<br>
				<p style="font-family: 'Century Gothic', serif" class="lead"><a class="btn btn-success" href="/manager">CRUD</a></p>
			</div>
		</div>
	</div>
	</div>
</div>
</body>
<footer>
	<nav class="navbar navbar-inverse navbar-fixed-bottom"  th:include="fragment/footer :: footer"></nav>
</footer>
</html>
