<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en"  th:include="fragment/header :: header">
   </head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top"  th:include="fragment/navigation :: navigation">
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Login</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Username or password invalid
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Password">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-10">
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-primary"
                                   value="Login">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
<br/>
<br/>
</body>
<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom"  th:include="fragment/footer :: footer">
    </nav>
</footer>
</html>