<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en"  th:include="fragment/header :: header">
  </head>
  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top"  th:include="fragment/navigation :: navigation">
  </nav>
    <div class="container">
   
    <h1>Data Cashier</h1>


        <div sec:authorize="hasRole('ROLE_MANAGER')">
            <a class="btn btn-success" href="/cashier/create">Add New</a>
        </div>
        <br>

    <!-- Logika nya, jika ada data pada tabel maka akan ditampilkan-->
    <div style="max-height: 700px; overflow: auto" th:if="${not #lists.isEmpty(cashier)}">
     
     <table id="t01" class="table table-striped">
    	<tr>
            <th style="text-align: center">#</th>
            <th>Username</th>
    		<th>Name</th>
    		<th>Address</th>
			<th>Telephone</th>
			<th style="text-align: center">Opsi</th>
  
    	</tr>
    	
    	<tr th:each="cashiers : ${cashier}">
            <td align="center"></td>
            <td th:text="${cashiers.user.username}"></td>
    		<td th:text="${cashiers.name}"></td>
    		<td th:text="${cashiers.address}"></td>
    		<td th:text="${cashiers.telephone}"></td>
    		
    		<td align="center">
    		<a class="btn btn-warning" th:href="${'/cashier/edit/' +cashiers.id}">Detail</a>

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Delete
                </button>

            </td>
            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Are You sure You want to delete this item ?<h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a class="btn btn-primary" th:href="${'/cashier/delete/' +cashiers.id}">Yes</a>
                        </div>
                    </div>
                </div>
            </div>

    		</tr>

    
    </table>


    </div>


    </div>

  <!-- /.container -->
   
    <!-- Bootstrap core JavaScript
    ================================================== -->

	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	
  </body>
<!-- Modal -->

<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom"  th:include="fragment/footer :: footer">
    </nav>
</footer>
</html>
