<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:include="fragment/header :: header">
    <title>Transaction</title></head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top"  th:include="fragment/navigation :: navigation"></nav>
    <div class="container">
    <h1>Data Transaction</h1>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" sec:authorize="hasRole('ROLE_CASHIER')">Add New</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name:</label>
                            <div class="col-sm-10">
                                <!--&lt;!&ndash;<select class="form-control" th:field="*{name}">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option th:value="'Income'" th:text="Income"></option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option th:value="'Outcome'" th:text="Outcome"></option>&ndash;&gt;-->
                                <!--</select>-->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    <div th:if="${not #lists.isEmpty(transaction)}">
     <table id="t01" class="table table-striped">
    	<tr>
            <th></th>
    		<th>Name</th>
    		<th>Income</th>
			<th>Outcome</th> 
			<th>Date</th> 
			<th>Opsi</th>
    	</tr>
    	<tr th:each="transactions : ${transaction}">
            <td></td>
    		<td th:text="${transactions.name}"></td>
    		<td th:text="${transactions.income}"></td>
    		<td th:text="${transactions.outcome}"></td>
    		<td th:text="${transactions.date}"></td>
    		<td>
    		    <a th:href="${'/transaction/edit/' +transactions.id}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a th:href="${'/transaction/delete/' +transactions.getId()}" onclick="return confirm('Are you sure you want to delete this item ?');">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
    		</td>
        </tr>
    </table>
    </div>
    </div>
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
</body>
<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom"  th:include="fragment/footer :: footer"></nav>
</footer>
</html>