<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en"  th:include="fragment/header :: header">
   </head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top"  th:include="fragment/navigation :: navigation">
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Sorry, access denied!</h1>
            <p><a href="/" th:href="@{/home}">Back to Home</a></p>
        </div>
    </div>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
<br/>
<br/>

</body>
<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom"  th:include="fragment/footer :: footer">
       </nav>
</footer>
</html>