<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment/header :: header">
	<title>Form Report</title>
</head>
<body>


	<nav class="navbar navbar-inverse navbar-fixed-top"  th:include="fragment/navigation :: navigation">
	</nav>
	<div class="container">
		<h1>Form Report</h1>
		<div class="row">
			<div class="col-sm-8">
				<form class="form-horizontal" th:object="${report}" th:action="@{/report/create}" method="post">
					<input type="hidden" th:field="*{id}" />
					<div class="form-group">
						<label class="col-sm-2 control-label">Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{name}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Date:</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" th:field="*{date}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Income:</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" th:field="*{income}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Outcome:</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" th:field="*{outcome}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<button type="submit" class="btn btn-info">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<footer>
	<nav class="navbar navbar-inverse navbar-fixed-bottom"  th:include="fragment/footer :: footer"></nav>
</footer>
</html>